<link rel="stylesheet" type="text/css" media="screen" href="~/CSS/styles.css">

<h1>Welcome to the Bigfoot Tracker Packer!</h1>
<a href='/items/new'>Add a new item to your backpack</a>
<a href='/items'>See list of items in your backpack.</a>