<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Welcome</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" media="screen" href="~/css/site.css">
        <script src="main.js"></script>
    </head>
    <body>
        <h1>Welcome to the Bigfoot Tracker Packer!</h1>
        <a href='/items/new'>Add a new item to your backpack</a>
        <a href='/items'>See list of items in your backpack.</a>    
    </body>
</html>

