<form action="/items" method="post">
  <label for="name">Enter an item name:</label>
  <input id="name" name="name" type="text">

  <label for="description">Enter an item description:</label>
  <input id="description" name="description" type="text">

  <label for="weight">Enter an item weight:</label>
  <input id="weight" name="weight" type="text">

  <label for="purchased">Is this item purchased already?</label>
  <input type="radio" name="purchased" value="yes"> Yes
  <input type="radio" name="purchased" value="no"> No

  <button type="submit">Submit</button>
</form>