<h1>Bigfoot Tracker Pack Details: </h1>

<h2>@Model.Name</h2>
<h3>@Model.Description</h3>
<h3>@Model.Purchased</h3>
<h3>@Model.Weight</h3>

<a href='/items/new'>Edit backpack contents</a>
<a href='/items'>View backpack contents</a>
